    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SONちゃんのエール</a>
          <!--
            <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>

          </div> -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit">
            <h1>ようこそ</h1>
            <p>ようこそ！ SONちゃんのエールは、がんばる人たちを応援しています！</p>
            <p>facebookでがんばっている人を<strong><ruby>応援して<rt>チアって</rt></ruby></strong>みませんか？</p>
            <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
          </div>
            <div>
            <ul id="yales">
              <li>
                <ul>
                  <li><img src="" alt="" /></li>
                  <li>text</li>
                  <li><input type="text" value="http://" /></li>
                  <li><button class="copy">copy</button></li>
                </ul>
              <li>
              <li>
                <ul>
                  <li><img src="" alt="" /></li>
                  <li>text</li>
                  <li><input type="text" value="http://" /></li>
                  <li><button class="copy">copy</button></li>
                </ul>
              <li>
              <li>
                <ul>
                  <li><img src="" alt="" /></li>
                  <li>text</li>
                  <li><input type="text" value="http://" /></li>
                  <li><button class="copy">copy</button></li>
                </ul>
              <li>
              <li>
                <ul>
                  <li><img src="" alt="" /></li>
                  <li>text</li>
                  <li><input type="text" value="http://" /></li>
                  <li><button class="copy">copy</button></li>
                </ul>
              <li>
            </ul>
            </div>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">スポンサー</li>
              <li class="active"><a href="#">スペシャルオリンピックス日本</a></li>
              <li><a href="#">エール募金</a></li>
              <li class="nav-header">応援してる人</li>
              <li><a href="http://animo.aspota.jp/">有森裕子さん</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
