    <style>
      body{
      background-image:url('assets/dot_white_orange.jpg');
      padding-bottom:0px;
      }
      .thanks div{
          background-color:white;
          padding:10px;
          border:solid 1px;
          
          	border-radius: 10px;		/* CSS3草案 */
          	-webkit-border-radius: 10px;	/* Safari,Google Chrome用 */
          	-moz-border-radius: 10px;	/* Firefox用 */
      }
      #ybox{
          background-color:white;
          width:80%;
          padding:20px;
      }
      footer{
          background-color:black;
          color:white;
          padding:20px;
      }
      
    </style>
    <script>
    <!--
    $(function(){
    /*
        		ZeroClipboard.setMoviePath("js/ZeroClipboard10.swf");
*/
      console.log("hello world");
      $('input').bind('mouseup',function(){
        $(this).select();
  /*      
        		clip = new ZeroClipboard.Client();
		        clip.setHandCursor( true );
        
        			clip.setText($(this).val());
        		  clip.glue('copy');
    */    

      });
    });
    -->
    </script>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit" style="background-image:url('assets/yell_back.png');background-position:right bottom;background-repeat:no-repeat;">
            <h1>ようこそ</h1>
            <p>『SONちゃんのエール』は、がんばる人たちを応援しています！</p>
            <p>facebookでがんばっている人を<strong><ruby>応援して<rt>チアって</rt></ruby></strong>みませんか？</p>
            <!--<p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>-->
          </div>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">スポンサー</li>
              <li><a href="http://www.son.or.jp/">スペシャルオリンピックス日本</a></li>
              <li><a href="http://www.son.or.jp/bokin/">エール募金</a></li>
              <li class="nav-header">応援してる人</li>
              <li><a href="http://animo.aspota.jp/">有森裕子さん</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        
      </div>
            <div id="ybox" class="well">
            <h2>応援一覧</h2>
            <p>
            下の応援ボイスの中から使いたいものを選んで、facebookに貼り付けて友達を応援しよう！
            </p>
            <ul id="yales">
              <li>
                <ul>
                  <li><img src="assets/fukidasi_red.gif" alt="" /></li>
                  <li>がんばれ！</li>
                  <li><input type="text" value="<%= app_url("/yells/1") %>" /></li>
                  <!-- <li><button class="copy">コピー</button></li> -->
                </ul>
              <li>
              <li>
                <ul>
                  <li><img src="assets/fukidasi_green.gif" alt="" /></li>
                  <li>ファイト！</li>
                  <li><input type="text" value="<%= app_url("/yells/1") %>" /></li>
                  <!--<li><button class="copy">コピー</button></li>-->
                </ul>
              <li>
              <li>
                <ul>
                  <li><img src="assets/fukidasi_orange.gif" alt="" /></li>
                  <li>よくやった！！</li>
                  <li><input type="text" value="<%= app_url("/yells/1") %>" /></li>
                  <!--<li><button class="copy">コピー</button></li>-->
                </ul>
              <li>
            </ul>
            
            <div class="alert alert-info">
               <h4>またみにきてね！</h4>
                応援メッセージは随時増やしていきます！
            </div>
            </div>

          <div class="row-fluid thanks">
            <div class="span4">
              <h2>有森裕子さん</h2>
              <img style="float:left;height:100px;width:auto;" src="assets/arimori.jpg">
              <p>自分のペースで進みましょう！</p>
            </div><!--/span-->
            <div class="span4">
              <h2>武居秀和さん</h2>
              <img style="float:left;height:100px;width:auto;" src="assets/takei.jpg">
              <p>3・2・1 がんばれ！！！</p>
            </div><!--/span-->
            <div class="span4">
              <h2>孫正義さん</h2>
              <img style="float:left;height:100px;width:auto;" src="assets/son.jpg">
              <p>応援しましょう！</p>
              <p><a class="btn" href="http://twitter.com/masason">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          

      <hr>
    </div><!--/.fluid-container-->
