<div class="container-fluid">
  <div class="well">
    <center>
      <h3>がんばれー！</h3>
      <img src="assets/sonchan.gif" /><br><br>
      <audio controls autoplay preload="auto">
        <source src="assets/luffy.mp3" type="audio/mpeg">
      </audio>
    </center>
  </div>
  <a>←ほかの人を応援したい！</a>
</div>
