<div class="container-fluid">
  <div class="well">
    <center>
      <h3><%= @yell.title %></h3>
      <img src="<%= image_path(@yell.image) %>" /><br><br>
      <audio controls autoplay preload="auto">
        <source src="<%= asset_path(@yell.audio) %>" type="audio/mpeg">
      </audio>
      <p style="margin-top: 20px;">
        <%= link_to "←ほかの人を応援したい！", yells_path %>
      </p>
    </center>
  </div>
</div>
